
<hr />
<div class="container">
  <div class="row clearfix">
    <div class="col-12">
      <a href ='/'>首页</a>- <a href ="/send_email">邮件发送</a> - <a href="/mark_mng">标签管理</a> - <a href="/co_add">增加企业</a>
    </div>
</div>
</div>
<hr />
