<div class="container" id="add">
  <div class="row clearfix" v-for="(item, index) in formKey">
    <div class="col-md-2 column">
      =
    </div>
    <div class="col-md-10 column">
    =
    </div>
  </div>

</div>

{{js '/js/co_add.js'}}
{{js '/js/vue.js'}}
